/* Coolors Exported Palette - coolors.co/818d92-586a6a-b9a394-d4c5c7-3b1f2b */

/* HSL */
$color1: hsla(198%, 7%, 54%, 1);
$color2: hsla(180%, 9%, 38%, 1);
$color3: hsla(24%, 21%, 65%, 1);
$color4: hsla(352%, 15%, 80%, 1);
$color5: hsla(334%, 31%, 18%, 1);

/* RGB */
$color1: rgba(129, 141, 146, 1);
$color2: rgba(88, 106, 106, 1);
$color3: rgba(185, 163, 148, 1);
$color4: rgba(212, 197, 199, 1);
$color5: rgba(59, 31, 43, 1);